@tailwind base;
@tailwind components;
@tailwind utilities;
 
@layer base {
  
  :root  {
    --background: 17 25% 95%;
    --foreground: 17 5% 10%;
    --card: 17 25% 90%;
    --card-foreground: 17 5% 15%;
    --popover: 17 25% 95%;
    --popover-foreground: 17 95% 10%;
    --primary: 17 29% 36%;
    --primary-foreground: 0 0% 100%;
    --secondary: 17 25% 70%;
    --secondary-foreground: 0 0% 0%;
    --muted: -21 25% 85%;
    --muted-foreground: 17 5% 35%;
    --accent: -21 25% 80%;
    --accent-foreground: 17 5% 15%;
    --destructive: 0 50% 32%;
    --destructive-foreground: 17 5% 90%;
    --border: 17 25% 50%;
    --input: 17 25% 32%;
    --ring: 17 29% 36%;
    --radius: 0.5rem;
  }
  .dark  {
    --background: 17 25% 10%;
    --foreground: 17 5% 90%;
    --card: 17 25% 10%;
    --card-foreground: 17 5% 90%;
    --popover: 17 25% 5%;
    --popover-foreground: 17 5% 90%;
    --primary: 17 29% 36%;
    --primary-foreground: 0 0% 100%;
    --secondary: 17 25% 20%;
    --secondary-foreground: 0 0% 100%;
    --muted: -21 25% 25%;
    --muted-foreground: 17 5% 60%;
    --accent: -21 25% 25%;
    --accent-foreground: 17 5% 90%;
    --destructive: 0 50% 32%;
    --destructive-foreground: 17 5% 90%;
    --border: 17 25% 32%;
    --input: 17 25% 32%;
    --ring: 17 29% 36%;
    --radius: 0.5rem;
  }


}
 
@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}